src/
test/
types/
.husky/
.github/
**/__test__/
coverage/
.env*
.eslintignore
.eslintrc.*
.prettierignore
.prettierrc.*
.commitlintrc.*
.lintstagedrc.*
barrelsbyrc.json
jest.*
*.sh
TODO.md
tsconfig.*
*.test.*
*.spec.*